<launch>

	<arg name="cmd_vel_topic" default="/cmd_vel" />
	<arg name="odom_topic" default="odom" />
	<arg name="move_forward_only" default="false"/>
        <arg name="plot" default="false" />
        <arg name="plot_states" default="false" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
        <remap from="odom" to="$(arg odom_topic)" />

        <rosparam file="$(find cargosim)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find cargosim)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find cargosim)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find cargosim)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find cargosim)/param/base_global_planner_params.yaml" command="load" />
        <rosparam file="$(find cargosim)/param/segment_global_planner_params.yaml" command="load" />
        <rosparam file="$(find cargosim)/param/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find cargosim)/param/move_base_params.yaml" command="load" />
 
        <!-- dwa_local_planner -->
        <!-- <param name="global_global_planner" value="global_planner/GlobalPlanner" /> -->
        <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->
        <!-- <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" /> -->
        <!-- <rosparam file="$(find cargosim)/param/dwa_local_planner_params.yaml" command="load" /> -->
               
        
        <!-- teb_local_planner -->
        <!-- <param name="global_global_planner" value="global_planner/GlobalPlanner" /> -->
        <!-- <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /> -->
        <!-- <rosparam file="$(find cargosim)/param/teb_local_planner_params.yaml" command="load" /> -->
	

        <param name="global_global_planner" value="global_planner/GlobalPlanner" />
	<param name="base_local_planner" value="mpc_local_planner/MpcLocalPlannerROS" />
	<rosparam file="$(find cargosim)/param/mpc_local_planner_params_minimum_time.yaml" command="load" />
	<param name="controller_frequency" value="5.0" />
	<param name="controller_patience" value="15.0" />
	<param name="MpcLocalPlannerROS/controller/publish_ocp_results" value="true" if="$(arg plot)" />
    
    </node>

</launch>
